#header
{
    background-color:#8BA6A9;
    border:8px;
    border-style:solid;
    border-color:black;
}

#header h1
{
    color:#0E0E52;
    font-size:50px;
    text-align:center;
}

#ramDetail
{
    border:8px;
    border-style:solid;
    border-color:black;
    background-color:#8BA6A9;
    color:#0E0E52;
}

img
{
    height:250px;
    width:250px;
}

#references
{
    background-color:#8BA6A9;
    border:8px;
    border-style:solid;
    border-color:black;
}

#references h1
{
    color:#0E0E52;
}

#references h2
{
    color:#0E0E52;
}

#references p
{
    color:#0E0E52;
}